<!DOCTYPE html>
<html lang="">
<head>
<title>Basend | Pages | Full Width</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body id="top">
<div class="wrapper row3 div-reg" *ngIf="!showGrid">
  <div id="comments">

    <h2>CATEGORY</h2>
    <form >
      
        <div class="one_third first">
            <label for="name">Category Name<span>*</span></label>
            <input type="text" name="name" [(ngModel)]="category.name" [ngModelOptions]="{standalone: true}" id="name" value="" size="22" required>
            
          </div>
          <div class="one_third first">
            <label for="desc">Description<span>*</span></label>
            <textarea [(ngModel)]="category.description" [ngModelOptions]="{standalone: true}"></textarea>
            
          </div>
        <div class="one_third first">
          <input type="submit" *ngIf="!isEdit" (click)="addNew()"  style="background-color: #4CAF50;width: 246px;"  name="submit" value="Add New">
          <input type="submit" *ngIf="isEdit" (click)="update()"  style="background-color: #4CAF50;width: 246px;"  name="submit" value="Update">
          
        </div>
      </form>
      
  </div>
  
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
</div>
<div class="wrapper row3 div-grid" *ngIf="showGrid">
  <div class="btn-add">
    <input type="submit" (click)="addNewClick()"  style="background-color: #4CAF50;width: 232px;margin-bottom: 21px;"  name="submit" value="Add New">
    
  </div>
<div class="scrollable">
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of categoryDetails">
        
        <td>{{cat.name}}</td>
        <td>{{cat.description}}</td>
        <td><a (click)="edit(cat._id,cat)">Edit</a></td>
        <td><a (click)="delete(cat._id)">Delete</a></td>
      </tr>
      
    </tbody>
  </table>
</div>
</div>
</body>
</html>
