<!DOCTYPE html>
<html lang="">
<head>
<title>Basend | Pages | Full Width</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body id="top">
<div class="wrapper row3 div-reg">
  <div id="comments">
    <h2>SIGN IN</h2>
    <form >
      <div class="one_third first">
        <label for="fname">Username<span>*</span></label>
        <input type="text" [(ngModel)]="userName" name="name" id="name" value="" size="22" required>
        
      </div>
      <div class="one_third first">
        <label for="lname">Password<span>*</span></label>
        <input type="password" [(ngModel)]="pswd" name="password" id="password" value="" size="22" required>
       

      </div>
      
      <div class="one_third first">
        <input type="submit" (click)="login()"  style="background-color: #4CAF50;width: 246px;"  name="submit" value="Sign In">
        
      </div>
    </form>
  </div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
</div>
</body>
</html>
  
