<div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1><a href="index.html"></a></h1>     
   
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="">Home</a></li>
          <li><a class="drop">Blogs</a>
            <ul>
              <li><a href="/blogs">All Blogs</a></li>
              <li><a *ngIf="appService.hasTabAccess('admin,regUser')" href="/blog-post">Blog Management</a></li>
              <li><a *ngIf="appService.hasTabAccess('regUser')" href="/my-blogs">My Blogs</a></li>

            </ul>
          </li>
          <li *ngIf="appService.hasTabAccess('regUser')"><a class="drop" >Account</a>
            <ul>
              <li><a href="/user-profile">User Profile</a></li>
              <li><a href="/change-password">Change Password</a></li>

            </ul>
          </li>
          <li *ngIf="appService.hasTabAccess('admin')" ><a class="drop" href="/post-category">Category</a>

          </li>
          <li *ngIf="appService.hasTabAccess('user')"><a href="/sign-up">SIGN UP</a></li>
          <li *ngIf="appService.hasTabAccess('user')"><a href="/sign-in">LOGIN</a></li>
          <li *ngIf="appService.hasTabAccess('admin,regUser')"><a (click)="logOut()">LOG OUT</a></li>
        </ul>
      </nav>
    </header>
  </div>
