<!DOCTYPE html>
<html lang="">
<head>
<title>Basend</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('../../../assets/images/demo/scaled.jpg');"> 
  <section id="pageintro" class="hoc clear">
    <div> 
      <h2 class="heading">Readit Blog</h2>
      <p>Every time you post something online, you have a choice.You can either make it something that adds to the happiness levels in the world or you can make it something that takes away.</p>
      <footer><a class="btn" href="/sign-in">Get Started</a></footer>
    </div>
  </section>
</div>
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">David Meerman Scott</h6>
      <p>.You can buy attention. You can beg for attention from the media. You can bug people one at a time to get attention. Or you can earn attention by creating something interesting and valuable and then publishing it online for free.</p>
    </div>
    <ul class="nospace group services">
      <li class="one_quarter first">
        <article><a href="#"><i class="fa fa-3x fa-500px"></i></a>
          <h6 class="heading font-x1"><a href="#">Penelope Trunk</a></h6>
          <p>Blogging is good for your career. A well-executed blog sets you apart as an expert in your field</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fa fa-3x fa-lastfm"></i></a>
          <h6 class="heading font-x1"><a href="#">Lauren Conrad</a></h6>
          <p>Don’t say anything online that you wouldn’t want plastered on a billboard with your face on it.</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fa fa-3x fa-puzzle-piece"></i></a>
          <h6 class="heading font-x1"><a href="#">Jessica Valenti</a></h6>
          <p>My informal writing style is a political choice, because I want feminism to be more accessible</p>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fa fa-3x fa-ravelry"></i></a>
          <h6 class="heading font-x1"><a href="#">Erin Bury</a></h6>
          <p>Blogging is a great way to show your talents and interests to prospective employers.</p>
        </article>
      </li>
    </ul>
    <div class="clear"></div>
  </section>
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">Lee Odden</h6>
      <p>“A blog is only as interesting as the interest shown in others.”</p>
    </div>
    <div class="group excerpts">
      <article class="one_third first">
        <div class="hgroup">
          <h6 class="heading">A. Doe</h6>
          <em>Chief Executive Officer</em></div>
        <figure><a href="#"><img src="../../../assets/images/demo/photo-profil.jpg" alt=""></a></figure>
        <div class="txtwrap">
          <p>I have heard people complain that they did not get this or that opportunity or that someone else was just lucky.</p>
        </div>
        <footer>
          <ul class="faico clear">
            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
          </ul>
        </footer>
      </article>
      <article class="one_third">
        <div class="hgroup">
          <h6 class="heading">B. Doe</h6>
          <em>General Manager</em></div>
        <figure><a href="#"><img src="../../../assets/images/demo/istockphoto-11jpg.jpg" alt=""></a></figure>
        <div class="txtwrap">
          <p>If it does not work, no amount of shouting will solve it! If one tweet does not work, 10 tweets of the same won’t make it better.</p>
        </div>
        <footer>
          <ul class="faico clear">
            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
          </ul>
        </footer>
      </article>
      <article class="one_third">
        <div class="hgroup">
          <h6 class="heading">C. Doe</h6>
          <em>Marketing Manager</em></div>
        <figure><a href="#"><img src="../../../assets/images/demo/360_F.jpg" alt=""></a></figure>
        <div class="txtwrap">
          <p>If your arguments are wrong, no number of repeating them or raising your voice will give you the success you are looking for.</p>
        </div>
        <footer>
          <ul class="faico clear">
            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
          </ul>
        </footer>
      </article>
    </div>
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper overlay coloured">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">Simon Dumenco</h6>
      <p>Blogging is just writing — writing using a particularly efficient type of publishing technology.</p>
    </div>
    <ul id="stats" class="nospace group">
      <li class="one_quarter first"><a href="#"><i class="fa fa-3x fa-cogs"></i></a>
        <p>Faucibus</p>
        <p>12345</p>
      <li class="one_quarter"><a href="#"><i class="fa fa-3x fa-comments-o"></i></a>
        <p>Pellentesque</p>
        <p>12345</p>
      </li>
      <li class="one_quarter"><a href="#"><i class="fa fa-3x fa-connectdevelop"></i></a>
        <p>Hendrerit</p>
        <p>12345</p>
      </li>
      <li class="one_quarter"><a href="#"><i class="fa fa-3x fa-sliders"></i></a>
        <p>Venenatis</p>
        <p>12345</p>
      </li>
    </ul>
    <div class="clear"></div>
  </section>
</div>
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <div class="sectiontitle">
      <h6 class="heading">Daily Drops</h6>
      <p>How To Start A Blog Today.
        Everything You Need To Start Writing.
      </p>
    </div>
    <div class="group excerpts">
      <article class="one_third" [ngClass]="{'first': blo.first}" *ngFor="let blo of blogs">
        <figure><img src="./images/demo/unnamed.jpg" alt="">
          <figcaption>
            <time datetime="2045-04-06T08:15+00:00"><strong>{{blo.dateCreated}}</strong> <em>{{blo.monthCreated}}</em></time>
          </figcaption>
        </figure>
        <div class="hgroup">
          <h4 class="heading">{{blo.title}}</h4>
          <ul class="nospace meta">
            <li>by <a href="#">Admin</a></li>
            <li>in <a href="#">{{blo.category}}</a></li>
          </ul>
        </div>
        <div class="txtwrap" style="height: 192px;">
          <p> {{blo.main}} [&hellip;]</p>
        </div>
        <footer><a class="btn" href="/view-blog/{{ blo._id }}">Read More &raquo;</a></footer>
      </article>
 
    </div>
    <div class="clear"></div>
  </section>
</div>
</body>
</html>